<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    
    <h3>Example heading <span class="label label-default">New</span></h3>
    <span class="label label-success">Success</span>
    
    
</body>
</html>
